@tailwind base;
@tailwind components;
@tailwind utilities;

@import "https://cdn.jsdelivr.net/npm/@tailwindcss/custom-forms@0.2.1/dist/custom-forms.css";

.fade-enter-active, .fade-leave-active {
   transition-duration: 0.3s;
   transition-property: opacity;
   transition-timing-function: ease;
}

.fade-enter, .fade-enter-active {
   opacity: 0;
}

@keyframes fadein {
   from {
       opacity: 0;
   }
   to {
       opacity: 1;
   }
}


.multiselect__option {
   background-color: #ffffff !important;
   color: #333333 !important;
 }
 
 .multiselect__option--selected {
   background-color: rgba(59, 130, 246, 1) !important;
   color: white !important;
 }
 
 .multiselect__option--highlight {
   background-color: rgba(59, 130, 246, 1) !important;
   color: white !important;
 }

 .multiselect__option--highlight::after {
   background-color: rgba(59, 130, 246, 1) !important;
   color: white !important;
 }

 .multiselect__tag {
    background-color: rgba(59, 130, 246, 1) !important;
    color: white !important;
 }

 .multiselect__tag-icon:focus, .multiselect__tag-icon:hover {
   background: rgb(35, 99, 202) !important;
}
 

 .multiselect__option--selected.multiselect__option--highlight {
   background-color: rgba(55, 65, 81, 1) !important;
   color: white !important;
 }

.multiselect__option--selected.multiselect__option--highlight::after {
   background-color: transparent !important;
   color: white;
   border: none !important;
 }

 .multiselect__option--selected.multiselect__option--highlight:hover {
   background-color: rgba(55, 65, 81, 1) !important;
   color: white !important;
 }
  
@media (min-width: 767px) and (max-width: 1408px) {
  .config-reportes {
    flex-direction: column !important;
  }
}
