@tailwind base;
@tailwind components;
@tailwind utilities;

@import "https://cdn.jsdelivr.net/npm/@tailwindcss/custom-forms@0.2.1/dist/custom-forms.css";

.fade-enter-active, .fade-leave-active {
   transition-duration: 0.3s;
   transition-property: opacity;
   transition-timing-function: ease;
}

.fade-enter, .fade-enter-active {
   opacity: 0;
}

@keyframes fadein {
   from {
       opacity: 0;
   }
   to {
       opacity: 1;
   }
}